@import './base.css';

#app {
}

body {
    width: 100vw;
    height: 100vh;
}
/*滚动条 start*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #eceff2;
    border-radius: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    background-color: #bdc0c2;
}
